<h1>HTTP GET click</h1>

<form action="/click" method="POST">
  <input name="authenticity_token"
         value="<%= form_authenticity_token %>"
         type="hidden"
  >

  <input type="submit" value="Click" />
</form>